<!doctype html>

<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../Content/sneat-admin-pro/"
      data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Sneat - Login</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Content/sneat-admin-pro/img/favicon/favicon.ico" />
    @Html.Partial("SneatProComponents/Localization/_Variables")

    @Html.Partial("SneatProComponents/RenderSection/_Styles")

    @Html.Partial("SneatProComponents/RenderSection/_Scripts")

    @Html.Partial("SneatProComponents/RenderSection/_ScriptsIncludes")

</head>

<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        @Html.Partial("SneatProComponents/LayoutComponent/_Macros")
                        <!-- /Logo -->
                        <h4 class="mb-2">Welcome to Sneat! 👋</h4>
                        <p class="mb-4">Please sign-in to your account and start the adventure</p>

                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email or Phone</label>
                                <input type="text"
                                       class="form-control"
                                       id="txtUsernameLogin"
                                       name="email-username"
                                       placeholder="Enter your email or phone"
                                       autofocus />
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Password</label>
                                    <a href="auth-forgot-password-basic.html">
                                        <small>Forgot Password?</small>
                                    </a>
                                </div>

                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="txtPasswordLogin"
                                           class="form-control"
                                           name="password"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" />
                                    <label class="form-check-label" for="remember-me"> Remember Me </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" onclick="Login();" type="submit">Sign in</button>

                            </div>
                        </div>

                        @*  <div class="divider my-4">
                                <div class="divider-text">or</div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
                                    <i class="tf-icons bx bxl-facebook"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
                                    <i class="tf-icons bx bxl-google-plus"></i>
                                </a>

                                <a href="javascript:;" class="btn btn-icon btn-label-twitter">
                                    <i class="tf-icons bx bxl-twitter"></i>
                                </a>
                            </div>*@
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>

    <!-- Page JS -->
    <script src="~/Scripts/ScriptModel/home-script.js"></script>
</body>
</html>