@using Sneat.MVC.Models.DTO.User;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<UserDetailOutputModel>


<table class="table table-bordered table-striped text-center" id="dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên </th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @{
            if (Model.Count() <= 0)
            {
                <tr>
                    <td colspan="8">Không có dữ liệu.</td>
                </tr>
            }
            else
            {

                int stt = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                foreach (var data in Model)
                {

                    <tr>
                        <td>@stt </td>
                        <td>@data.UserName</td>
                        <td>@data.Phone </td>
                        <td>@data.Email</td>
                        <td>
                            <div class="dropdown">
                                <button type="button"
                                        class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="updateUser(@data.ID)"><i class="bx bx-edit-alt me-1"></i> Sửa tài khoản</a>
                                    <a class="dropdown-item" onclick="deleteUser(@data.ID)"><i class="bx bx-trash me-1"></i> Xóa tài khoản</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    stt++;

                }
            }
        }

    </tbody>
</table>
<div class="col-md-12">
    <div class="row float-right">
        @*phân trang*@
        @Html.PagedListPager(Model, Page => Url.Action("Search", new { Page, search = "" }),
                 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                 {
                     HttpMethod = "GET",
                     UpdateTargetId = "list_user"
                 })
                 )
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dataTable').dataTable({
            "bPaginate": false,
            "bProcessing": true,
            "bInfo": false,
            "bFilter": false,
        });
            });

    function updateUser(id) {
        window.location.assign("/Users/Update?ID="+ id);
    }
</script>
