@{
    Layout = "~/Views/Shared/_SneatProLayout.cshtml";
    ViewData["title"] = "Update User";
}
@using Sneat.MVC.Models.DTO.User;
@using Sneat.MVC.Common
@model UserDetailOutputModel

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span style="cursor: pointer;" onclick="window.location='/Users/Index'" class="text-muted fw-light">Quản lý tài khoản / Tài khoản / </span>Cập nhật </h4>

        <div class="p-3 mt-1 card mb-4">
            <h5 class="card-header">Thông tin tài khoản</h5>
            <div class="row mt-2">
                <div class="col-sm-6">

                    <div class="mb-3">
                        <strong>Ảnh đại diện</strong>

                        <div class="col-md-8" id="divAddImg">
                            <div action="/Home/UploadFiles" class="dropzone needsclick" id="dropzone-basic">
                                <div class="dz-message needsclick">
                                    Drop files here or click to upload
                                    <span class="note needsclick">
                                        Hãy tải ảnh Avatar người dùng tại đây (chỉ được tải duy nhất một ảnh)
                                    </span>
                                </div>
                                <div class="fallback">
                                    <input name="file" type="file" id="fileInput" />
                                </div>
                                <input type="hidden" id="currentImage" value="@Model.Avatar">
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="mb-3">
                        <strong>Tên tài khoản</strong><span style="color:red"> *</span>
                        <input type="text" value="@Model.UserName" class="form-control" id="nameCreate" name="name" required placeholder="Tên tài khoản">
                    </div>

                    <div class="mb-3">
                        <strong>Email</strong><span style="color:red"> *</span>
                        <input type="text" value="@Model.Email" class="form-control" id="emailCreate" name="email" required placeholder="Nhập email">
                    </div>

                    <div class="mb-3">
                        <strong>Số điện thoại</strong><span style="color:red"> *</span>
                        <input type="number" value="@Model.Phone" class="form-control" id="input-add-phone" name="phone" required placeholder="Nhập số điện thoại">
                    </div>

                </div>
            </div>
        </div>

        @*<div class="p-3 mt-1 card mb-4">
            <h5 class="card-header">Thông tin gói dịch vụ</h5>
            <div class="row mt-2">
                <div class="col-sm-6">

                    <div class="mb-3">
                        <strong>Ngày bắt đầu </strong><span style="color:red"> *</span>
                        <input type="date" class="form-control" id="dtStartDate" placeholder="Chọn ngày bắt đầu" />
                        <input hidden type="text" id="dtStartDateText" />
                    </div>

                    <div class="mb-3">
                        <strong>Số admin</strong><span style="color:red"> *</span>
                        <input id="adminNumCreate" placeholder="Nhập số admin" class="form-control" type="number" />
                    </div>

                    <div class="mb-3">
                        <strong>Số nhân viên </strong><span style="color:red"> *</span>
                        <input id="driverNumCreate" placeholder="Nhập số nhân viên" class="form-control" type="number" />
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="mb-3">
                        <strong>Ngày hết hạn </strong><span style="color:red"> *</span>
                        <input type="date" class="form-control" id="dtEndDate" placeholder="Chọn ngày hết hạn" />
                        <input hidden type="text" id="dtEndDateText" />
                    </div>

                    <div class="mb-3">
                        <strong>Số chi nhánh</strong><span style="color:red"> *</span>
                        <input id="shopNumCreate" placeholder="Nhập số chi nhánh" class="form-control" type="number" />
                    </div>

                    <div class="mb-3">
                        <strong>Số khách hàng được phép đăng ký </strong><span style="color:red"> *</span>
                        <input id="customerNumCreate" placeholder="Nhập số khách hàng được phép đăng ký" class="form-control" type="number" />
                    </div>

                </div>
            </div>
        </div>*@

        @if (Model.Status == SystemParam.ACTIVE)
        {
            <div class="p-3 mt-1 card mb-4">
                <h5 class="card-header">Ngừng hoạt động tài khoản</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                            <h6 class="alert-heading fw-medium mb-1">Bạn có chắc muốn ngừng hoạt động tài khoản này?</h6>
                            <p class="mb-0">Khi tài khoản bị ngừng hoạt động, tài khoản sẽ không được quyền đăng nhập hệ thống nữa.</p>
                        </div>
                    </div>
                    <div id="formAccountDeactivation">
                        <div class="form-check mb-1" id="checkboxContainer">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="accountActivation"
                                   id="accountActivation" />
                            <label class="form-check-label" for="accountActivation">Tôi xác nhận ngừng hoạt động tài khoản này</label>
                        </div>
                        <div id="warningMessage" style="display: none; color: red; font-size: 15px;">Vui lòng xác nhận trước khi ngừng hoạt động tài khoản.</div>
                        <button class="btn btn-danger deactivate-account " onclick="deactivateAccount(@Model.ID)">Ngừng hoạt động</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="p-3 mt-1 card mb-4">
                <h5 class="card-header">Kích hoạt tài khoản</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-success">
                            <h6 class="alert-heading fw-medium mb-1">Kích hoạt tài khoản</h6>
                            <p class="mb-0">Sau khi kích hoạt, tài khoản này có thể đăng nhập và hoạt động bình thường.</p>
                        </div>
                    </div>
                    <div id="formAccountActivate">
                        <button class="btn btn-success activate-account " onclick="activateAccount(@Model.ID)">Kích hoạt</button>
                    </div>
                </div>
            </div>
        }


        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="mt-1 mb-1 pull-right pr-10 pb-10">
                    <button style="float: right;" class="btn btn-primary" id="btnAdd" onclick="saveUpdateUser(@Model.ID)"> <i class='menu-icon tf-icons bx bx-plus'></i> Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ScriptModel/user-script.js"></script>

<script>
    document.getElementById('accountActivation').addEventListener('change', function () {
        const checkbox = this;
        const checkboxLabel = document.querySelector('label[for="accountActivation"]');
        const warningMessage = document.getElementById('warningMessage');

        if (checkbox.checked) {
            // Reset the styles to normal
            checkbox.style.outline = '';
            checkboxLabel.style.color = '';
            warningMessage.style.display = 'none';
        }
    });

</script>